* {
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}
.logo { width: 30%; }

#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30%;
}

.nav-item {
  list-style: none;
  font-size: 1.5rem;
  padding: 1%;
}

#main-heading h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  border: black solid;
  width: 100vw;
  padding: 0.5%;
  font-weight: 800;
}

#card {
  padding: 60%;
  width: 25%;
  height: 40%;
  border: solid red;
  background-color: white;
  margin: 30%;
}

#movies {
  border: solid yellowgreen;
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.commentBtn {
  border-radius: 10%;
  background-color: goldenrod;
  border: solid green;
  font-size: 1.5rem;
}

.series {
  margin-right: 5px;
}

.div-title {
  width: 100%;
  height: min-content;
  padding: 0;
  margin: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

/* Style for the popup */
.hide {
  display: none;
}

.comment-popup-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 234234;
}

.comments-container {
  width: 70%;
  max-height: 100vh;
  background-color: goldenrod;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}

.existingcomments {
  background-color: #242424;
  padding: 12px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: white;
}

.comment-box li {
  list-style: disc;
  margin-left: 16px;
  margin-top: 8px;
}

.forms form {
  margin-top: 12px;
}

.input {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #1111119e;
  color: #f8f8f8;
}

.input::placeholder {
  color: #f8f8f8;
}

.add-comment-btn {
  border: none;
  padding: 8px;
  color: #111;
  border-radius: 3px;
}

.add-comment-btn:hover {
  cursor: pointer;
  background-color: #ddd;
}

#popup {
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #111;
}

.blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.forms {
  background-color: goldenrod;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 12px;
  display: grid;
  flex-direction: column;
}
.likeBtn:hover { cursor: pointer; }

.likeBtn:active {
  color: red;
}
