* {
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

body, html {margin: 0;
padding:0;}
header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:100%;
    
}
.logo {width: 30%;}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    gap:30%;
    
}

.nav-item {

    list-style: none;
    font-size: 2rem;   
    padding:2%;
    
}

#main-heading h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding:5%;
    margin:0;
    
}
footer {
    position: absolute;
    bottom: 0;
    border: black solid;
    width:100vw;
    padding:1%;
    font-weight: 800;
}

#card {
    padding:60%;
    width: 25%;
    height: 40%;
    border:solid red;
    background-color:white;
    margin: 30%;
}

#movies {
    border: solid yellowgreen;
    background-color: goldenrod;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    padding:5%;
}
.comment {
    width: fit-content;
    font-size: 2rem;
    padding:5%;
}